*{
    list-style-type: none;
}
body {
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    "nav header header header"
    "nav main main main";
}

nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #3343D5; /*#1992d4 is mockup color but doesn't pass all color contrast checks*/
    color: white;
}

header {
    background-color: white;
    grid-area: header;
}

main {
    background-color: #e2e8f0; /*also color for search bar*/
    grid-area: main;
}